<div class="container text-center">
  <h1>ITEMS</h1>
  <div class="row">

  <% 6.times do %>
    <div class="col-sm pt-5">
      <div class="card" style="width: 18rem;">
        <%= image_tag( 'blog-1.jpg', class: 'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-dark">Add to Cart</a>
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>
