<div class="container">
  <h1>Orders</h1>
  <%= render 'search_form'%>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>No of Items</th>
        <th>Status</th>
        <th>Total</th>
        <% if current_user.admin? %>
          <th>User ID</th>
          <th>Edit</th>
        <% end %>
        <th>Show</th>
      </tr>
    </thead>
    <tbody>
      <% if @orders.nil? %>
        <tr>
          <td><strong>No Orders at the Moment </strong></td>
        </tr>
      <% else %>
        <%= render @orders%>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back', root_path, class:"btn btn-dark"%>
</div>
