<h2>Cart</h2>
<%= render 'table', cart: @cart %>
<%= link_to 'Back', root_path, class:"btn btn-dark"%>
<% unless user_signed_in? && current_user.user? %>
  <div class="row pt-3">
    <div class="col-sm-2h pt-2">
      <p><strong>Sign Up / In to Checkout</strong></p>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Sign In', new_user_session_path, class: "btn btn-dark" %>
    </div>
  </div>
<% end %>
<% if @cart.cart_items.count != 0 %>
  <%= link_to 'Check Out', new_order_path, class:"btn btn-dark"%>
<% end %>
