<div class="container">
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <% if current_user.admin? %>
          <th>Status</th>
        <% end %>
        <th>Show</th>
        <% if current_user.admin? %>
          <th>Edit</th>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <%= render 'table2', restaurant: @restaurant%>
  </table>
</div>
