<div class="container">
  <h1>Editing '<%= @item.title %>' for '<%= @restaurant.title %>'</h1>
  <%= render 'form', restaurant: @restaurant,category: @category %>
  <%= link_to 'Back', restaurant_path(@restaurant), class:"btn btn-dark"%>
</div>
