<div class="container">
  <h1>New Item for <%= @restaurant.title %></h1>
  <%= render 'form', restaurant: @restaurant, categories: @categories %>

  <%= link_to 'Back', restaurant_path(@restaurant), class:"btn btn-dark"%>
</div>
